
 #submitbutton:hover{
    outline: 2px auto #afe7ff;
 }


 #latitudeErrorMsg, #longitudeErrorMsg{
   color: red;
}

 #description, #photographerName, #photographerEmail, #photoFile{
    width: 65%;
    text-overflow: ellipsis; 
 } 
  .required{
    color: red;
 }

#checkboxShare{
    vertical-align: middle;
}
#checkboxText{
    margin-left: -5px;
}

 #notes, #licenseDropdown {
    width: 69%;
    min-width: 300px;
    text-overflow: ellipsis; 
 }

